<div class="content1">
  <% @kakomons.each do |kakomon| %>
    <div class="block">
      <div class="title">
        <p><%= kakomon.prefecture %></p>
      </div>
      
      <div class="text">
        <p><%= simple_format(kakomon.text) %></p>
      </div>
      
        <ul class="more_list">
            <li>
              <%= link_to '詳細', "/kakomons/#{kakomon.id}", method: :get %>
            </li>
            
      <% if user_signed_in? && current_user.id == kakomon.user_id %>
            <li>
              <i class="fas fa-pencil-alt"></i>
              <%= link_to '編集', "/kakomons/#{kakomon.id}/edit", method: :get %>
            </li>
            <li>
              <i class="fas fa-trash-alt"></i>
              <%= link_to '削除', "/kakomons/#{kakomon.id}", method: :delete %>
            </li>
      <% end %>
            <span class="name">
              <span>投稿者:</span><%= kakomon.user.nickname %>
            </span>
        </ul>
        <!--ulの位置をspanタグの下に置くことで編集、削除、投稿者の横並び指定がしやすい-->
        <!--また投稿者の表示はログインしていなくても表示したいためspanタグはif分の外に置く-->
      
    </div>
  <% end %>
  <div class="paginate">
  <%= paginate(@kakomons) %>
  </div>
</div>