
    <div class="block">
      <div class="title">
        <p><%= @kakomon.prefecture %></p>
      </div>
      
      <div class="text">
        <p><%= simple_format(@kakomon.text) %></p>
      </div>
      
      <% if user_signed_in? && current_user.id == @kakomon.user_id %>
        <ul class="more_list">
            <li>
              <i class="fas fa-pencil-alt"></i>
              <%= link_to '編集', "/kakomons/#{@kakomon.id}/edit", method: :get %>
            </li>
            <li>
              <i class="fas fa-trash-alt"></i>
              <%= link_to '削除', "/kakomons/#{@kakomon.id}", method: :delete %>
            </li>
      <% end %>
            <span class="name">
              <span>投稿者:</span><%= @kakomon.user.nickname %>
            </span>
        </ul>
    </div>