<div class="nickname">
  <p><%= @nickname %>さんの投稿一覧</p>
</div>
<div class="content1">
  <% @kakomons.each do |kakomon| %>
    <div class="block">
      
      <div class="text">
        <p><%= simple_format(kakomon.text) %></p>
      </div>
      
      
      
      <% if user_signed_in? && current_user.id == kakomon.user_id %>
        <ul class="more_list">
            <li>
              <i class="fas fa-info"></i>
              <%= link_to '詳細', "/kakomons/#{kakomon.id}", method: :get %>
            </li>
            <li>
              <i class="fas fa-pencil-alt"></i>
              <%= link_to '編集', "/kakomons/#{kakomon.id}/edit", method: :get %>
            </li>
            <li>
              <i class="fas fa-trash-alt"></i>
              <%= link_to '削除', "/kakomons/#{kakomon.id}", method: :delete %>
            </li>
          </ul>
      <% end %>
      
    </div>
  <% end %>
  <div class="paginate">
  <%= paginate @kakomons %>
  </div>
</div>