<!DOCTYPE html>
<html>
  <head>
    <title>Minoaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  <div class="wrapper">
    <header>
      
      
      
      <h1 class="headline">
        <a><i class="fas fa-burn"></i>やさしい炎</a><span>消防昇任試験対策</span>
        
        <div class="devise">
          <% if user_signed_in? %>  
            <div class="logout">
              <a href="/users/<%= current_user.id %>">マイページ</a>
              <a class="post" href="/kakomons/new">カコ問シェア投稿</a>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <span><%= current_user.nickname %></span>
            </div>
          <% else %>
            <div class="login">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            </div>
          <% end %>
        </div>
        
      </h1>
      
        <ul class="list">
          <li class="list-item"><a href="/tops">トップ</a></li>
          <li class="list-item"><a href="/aquestions">消防法</a></li>
          <li class="list-item"><a href="/bquestions">消防組織法</a></li>
          <li class="list-item"><a href="/kakomons">カコ問シェア</a></li>
        </ul>
    </header>
    
    <%= yield %>
    
    <footer>
    <div>
        <ul>
          <li>Copyright (C) 2020 MURAKAMI All Rights Reserved.</li>
        </ul>
    </div>
    </footer>
  </div>
  </body>
</html>
