<!DOCTYPE html>
<html>
  <head>
    <title>Minoaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  <div class="wrapper">
    <header>
      
      
      
      <h1 class="headline">
        <a><i class="fas fa-burn"></i>やさしい炎</a><span>消防昇任試験対策</span>
    <div class="devise">  
      <div class="login">
        <%= link_to "ログイン", new_user_session_path, class: 'post' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
      </div>
    </div>
      
    </header>
    
    <%= yield %>
    
    <footer>
    <div>
        <ul>
          <li>Copyright (C) 2020 MURAKAMI All Rights Reserved.</li>
        </ul>
    </div>
    </footer>
  </div>
  </body>
</html>
